
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Raleway', sans-serif;
    background-color: #f2f2f2;
}
.centraliza-container{
    margin: auto;
}
div{
    width: 85%;
    background-color: #fff;
    padding: 3em;
    box-shadow: 0 0 2.2em rgba(0,0,0, .2);
}
header{
    text-align: center;
}
header ul{
    margin-top: 3em;
}
header li{
    list-style-type: none;
    display: inline-block;
    font-family: sans-serif;
    font-size: 3em;
    margin-right: 3em;
    
}
header li:last-child{
    margin-right: 0;
}
header a{
    text-decoration: none; color: rgb(233, 19, 19); padding: .8em;
}

main{
    margin-top: 6em;
}

article{
    width: 100%;
}

p{
    font-size: 1.5em;
    line-height: 90%;
    margin-bottom: 1em;
}

h2{
    font-size: 2em;
    margin-bottom: .72em;
    font-family: sans-serif;
    color:black;
}

hr{
    width: 90%;
    margin: 4em auto;
    border: 1.5px solid rgba(black);
    box-shadow: 0px 1px 6px rgba(0,0,0, .16);

}

footer{
    text-align: center;
}



